---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import BodyMain from "../layouts/BodyMain.astro";
import FormattedDate from "../components/FormattedDate.astro";

interface WithId {
  id: string;
}

type Props = CollectionEntry<"blog">["data"] & WithId;

const { id, title, description, pubDate, updatedDate } = Astro.props;
let image = `/img/blog/${id}.webp`;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <BodyMain>
    <article class="prose dark:prose-invert max-w-none">
      <div>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <h1>{title}</h1>
      <slot />
    </article>
  </BodyMain>
</html>
